@import url('https://fonts.googleapis.com/css?family=Monoton|Montserrat:400:600|Cinzel:700|Bungee+Shade&display=swap');



/* *******************MOBILE EXCEPTIONS *******************/
@media screen and (max-device-width: 720px) {
:root {
  --font-base-size: 1.2rem;
}
#website{
  padding: 0 1rem 0 1rem;
}


#menumobile{
  display: block;
}

nav{
  display: none;
}

}
/* *******************END MOBILE EXCEPTIONS *******************/
/* ******************** DESKTOP EXCEPTIONS ********************/
@media screen and (min-device-width: 721px) {
:root {
  --font-base-size: 1.4rem;
}

#menumobile{
  display: none;
}

}
/* ******************** END DESKTOP EXCEPTIONS ********************/


:root {
  --font-h: Cinzel;
  --font-header: "Bungee Shade";
  --font-p: "Montserrat";
  --font-menu: "Montserrat";
  --color-front: DarkSlateGray	;
  --color-back: snow;
  --color-hint: palevioletred;
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-front);
  background: var(--color-back);
  flex-direction: column;
}

#website{
  max-width: 50rem;
}

header {
  font-family: var(--font-header);
  font-size: calc(var(--font-base-size)*3);
  margin-top: var(--font-base-size);
  margin-bottom: calc(var(--font-base-size)*2);
  color: var(--color-hint);
  text-align: center;
}

p, .author {
  text-align: justify;
  font-size: var(--font-base-size);
  line-height: 140%;
  margin-bottom: calc(var(--font-base-size)*1.8);
  margin-top: calc(var(--font-base-size)*1.8);
}

.read_more{
  font-size: var(--font-base-size);
}

.author{
  text-align: right;
  font-size: calc(var(--font-base-size)*0.8);
}


p::first-letter {
  font-family: var(--font-header);
  font-size: calc(var(--font-base-size)*1.8);
  color: var(--color-hint);
}

h1,
h2,
h3 {
  font-family: var(--font-h);
  font-weight: 200;
}
h1 {
  text-align: center;
  font-size: calc(var(--font-base-size)*2.2);
  margin-top:var(--font-base-size);
  margin-bottom:var(--font-base-size);
}

h2 {
  font-size: calc(var(--font-base-size)*1.8);
}

h3 {
  font-size: calc(var(--font-base-size)*1.4);
}

a,
a:visited {
  color: var(--color-front);
  text-decoration: none;
  border-bottom: 0.1rem solid var(--color-front);
  margin-top: -20px;

}

a:hover {
  color: var(--color-hint);
  border-bottom: 0.1rem solid var(--color-hint);
}


strong {
  font-weight: 600;
}

article {
  font-family: var(--font-p);
}

ul {
  list-style: none;
}

quote {
  border-left: solid 0.1rem var(--color-front);
  font-size: var(--font-base-size);
  padding-left: 1rem;
  margin-left: 1rem;
  font-family: car(--font-p);
  font-weight: 200;
}

article>li {
  text-align: justify;
  font-size: var(--font-base-size);
  font-family: var(--font-p);
  font-weight: 200;
}

article>li:before {
  content: "*  ";
  list-style: none;
  font-family: var(--font-h);
  font-size: calc(var(--font-base-size)*1.4);
  vertical-align: middle;
}

table {
  width: 100%;
  margin: auto;
  font-family: var(--font-p);
}

th {
  border-bottom: 0.02rem solid var(--color-front);
  font-family: var(--font-p);
  font-weight: 400;
}

.post_separator {
  font-family: var(--font-p);
  text-align: center;
  font-size: 4rem;
}

nav{
  font-family: var(--font-p);
  margin-top: calc(var(--font-base-size)*2);
  margin-bottom: calc(var(--font-base-size)*2);
}

nav.menu{
  border:0
}

nav>ul {
  display: flex;
  text-decoration: none;
  border:0;
  font-size: var(--baseFontSize);
  list-style: none;
  justify-content: center;
}

.tags {
  font-size: calc(var(--font-base-size)/1.4);
  text-align: right;
}

#footer{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  font-family: var(--font-p);
  font-size: calc(var(--font-base-size)/1.8);
  flex-direction: column;
  line-height: calc(var(--font-base-size)/1.4);
}

.footer_text{
  margin-top: 1rem;
text-align: center;
}

#footer>ul{
  display: flex;
  justify-content: center;

}


#twitter{
  /* font-size: 2rem; */
}

#twitter:hover{
  color: var(--color-hint);
}

#addthis{
  font-family: var(--font-p);
  float:right;
  text-decoration: none;
}

#addthis > a{
  text-decoration: none;
  font-size: 1.2rem;
  border:0
}



.menu{
   font-family: var(--font-p);
   font-size: var(--font-base-size);
   font-weight: 600;
}

.menu > ul > li > a{
  border: 0;
}

.menu > ul > li > a:hover{
  border-bottom: 0.1rem solid;
}

.menu>ul>li:not(:first-child):before {
  content: '|';
  margin: 0.4rem;
}

#menumobile {
   position: fixed;
  box-sizing: border-box;
  background-color: white;
  top:0;
  right:0;
  margin:0;
  /* width: 100%; */
}

#menumobile>ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menumobile>ul>li {
  padding-top: 1rem;
  text-decoration: wavy;
}

#menumobile>ul>li>a {
  color: var(--color-hint);
  font-size: calc(var(--font-base-size)*2);
  border:0;
}

#commento p{
  color: var(--color-front);
  font-size: var(--font-base-size);
}

#commento a,
#commento a:visited {
  color: var(--color-front);
  text-decoration: none;
  border-bottom: 0.1rem solid var(--color-front);
  margin-top: -20px;
  font-size: var(--font-base-size);
}


#commento a:hover {
  color: var(--color-hint);
  border-bottom: 0.1rem solid var(--color-hint);
}
