/* *******************MOBILE EXCEPTIONS *******************/
@media screen and (max-device-width: 720px) {
  :root {
    --font-base-size: 1.1rem;
  }
  #website {
    box-sizing: border-box;
      padding: 0 var(--font-base-size) 0 var(--font-base-size);
      width: 100%;
    }
  }
[name="desktop_menu"] {
    display: none;
  }
  #menuToggle {
    display: block;
  }

}

/* *******************END MOBILE EXCEPTIONS *******************/
/* ******************** DESKTOP EXCEPTIONS ********************/
@media screen and (min-device-width: 721px) {
  :root {
    --font-base-size: 1.4rem;
  }
  #menuToggle {
    display: none;
  }
  #website {
    max-width: 44rem;
  }
}

/* ******************** END DESKTOP EXCEPTIONS ********************/


body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-front);
  background-color: var(--color-back);
  flex-direction: column;
  background: var(--background);
  min-height:100%;
}


header {
  font-family: var(--font-header);
  font-size: calc(var(--font-base-size)*3);
  margin-top: var(--font-base-size);
  margin-bottom: calc(var(--font-base-size)*2);
  margin-left: var(--font-base-size);
  margin-right: var(--font-base-size);
  color: var(--color-header);
  text-align: center;
   text-align: center;

}

p,
.author {
  text-align: justify;
  font-size: var(--font-base-size);
  line-height: 140%;
  margin-bottom: calc(var(--font-base-size)*1.8);
  margin-top: calc(var(--font-base-size)*1.8);
}

article>p::first-letter {
  font-family: var(--font-first-letter);
  font-size: var(--font-first-letter-size);
  color: var(--font-first-letter-color);
  float:left;
  margin: 0.5rem 0.5rem 0 0;
}

.author>a {
  border: 0;
}

.read_more {
  font-size: var(--font-base-size);
  text-align: right;
}

.author {
  text-align: right;
  font-size: calc(var(--font-base-size)*0.8);
}

/*
p::first-letter {
  font-family: var(--font-first-letter);
  font-size: var(--font-first-letter-size);
  color: var(--font-first-letter-color);
} */

h1,
h2,
h3 {
  font-family: var(--font-h);
  font-weight: 200;
}

h1 {
  text-align: center;
  font-size: calc(var(--font-base-size)*2.2);
  margin-top: var(--font-base-size);
  margin-bottom: var(--font-base-size);
}

h2 {
  font-size: calc(var(--font-base-size)*1.8);
}

h3 {
  font-size: calc(var(--font-base-size)*1.4);
}

a,
a:visited {
  color: var(--color-front);
  text-decoration: none;
  border-bottom: 0.1rem solid var(--color-front);
  margin-top: -20px;

}

a:hover {
  color: var(--color-link-hover);
  border-bottom: 0.1rem solid var(--color-link-hover);
}

article {
  font-family: var(--font-p);
}

quote {
  border-left: solid 0.1rem var(--color-front);
  font-size: var(--font-base-size);
  padding-left: var(--font-base-size);
  margin-left: var(--font-base-size);
  font-family: car(--font-p);
  font-weight: 200;
}

article>ul {
  padding-left: var(--font-base-size)
}

article>ul>li {
  list-style: disc;
  text-align: justify;
  font-size: var(--font-base-size);
  font-family: var(--font-p);
  line-height: 140%;
  margin-bottom: calc(var(--font-base-size));
  margin-top: calc(var(--font-base-size));
}

article>li:before {
  content: "*  ";
  list-style: none;
  font-family: var(--font-h);
  font-size: calc(var(--font-base-size)*1.4);
  vertical-align: middle;
}

table {
  width: 100%;
  margin: auto;
  font-family: var(--font-p);
}

th {
  border-bottom: 0.02rem solid var(--color-front);
  font-family: var(--font-p);
  font-weight: 400;
}

.post_separator {
  font-family: var(--font-p);
  text-align: center;
  font-size: 4rem;
}

nav {
  font-family: var(--font-p);
  margin-top: calc(var(--font-base-size)*2);
  margin-bottom: calc(var(--font-base-size)*2);
}

.tags {
  font-size: calc(var(--font-base-size)/1.4);
  text-align: right;
}

#footer {
  margin-top: var(--font-base-size);
  display: flex;
  justify-content: center;
  font-family: var(--font-p);
  font-size: calc(var(--font-base-size)/1.4);
  flex-direction: column;
  line-height: 140%;
}

.footer_text {
  margin-top: calc(var(--font-base-size)*2);
  text-align: center;
  font-size: calc(var(--font-base-size)/1.8);
}

.tagmenu>li {
  padding-right: calc(var(--font-base-size)/2);
}



.tagmenu>ul>li:last-child {
  padding-right: 0;
}

.tagmenu {
  margin-top: var(--font-base-size);
  display: flex;
  justify-content: center;
  font-family: var(--font-p);
  font-size: calc(var(--font-base-size)/1.4);
  flex-direction: row;
  line-height: 140%;
}


#twitter:hover {
  color: var(--color-hint);
}

#addthis {
  font-family: var(--font-p);
  float: right;
  text-decoration: none;
}

#addthis>a {
  text-decoration: none;
  font-size: 1.2rem;
  border: 0
}

.menu {
  font-family: var(--font-p);
  font-size: var(--font-base-size);
  font-weight: 600;
  display: flex;
  text-decoration: none;
  border: 0;
  list-style: none;
  justify-content: center;
  border: 0;
}

.menu>li>a {
  border: 0;
}

.menu>li>a:hover {
  border-bottom: 0.1rem solid;
}

.menu>li:not(:first-child):before {
  content: '|';
  margin: 0.4rem;
}


#menumobile {
  position: fixed;
  box-sizing: border-box;
  background-color: white;
  top: 0;
  right: 0;
  margin: 0;
  width:0;
  height:100%;
}

#menumobile>ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menumobile>ul>li {
  padding-top: var(--font-base-size);
}

#menumobile>ul>li>a {
  color: var(--color-hint);
  font-size: calc(var(--font-base-size)*2);
  border: 0;
}

#commento p {
  color: var(--color-front);
  font-size: var(--font-base-size);
}

#commento a,
#commento a:visited {
  color: var(--color-front);
  text-decoration: none;
  border-bottom: 0.1rem solid var(--color-front);
  margin-top: -20px;
  font-size: var(--font-base-size);
}


#commento a:hover {
  color: var(--color-hint);
  border-bottom: 0.1rem solid var(--color-hint);
}

#commento-textarea-root {
  background-color: var(--color-text-area);
  border: 1px solid var(--color-front);
  color: var(--color-front);
}

.commento-card {
  border: 1px solid var(--color-front);
  background-color: var(--color-text-area);
}

/* ---------- menu Toggle ----------  */

#menuToggle {
  position: absolute;
  /* margin: 0.5rem; */
  padding: 0.5rem;
  top:0;
  left:0;
  z-index: 10;
  width: 2rem;
  height: 2rem;


}

#menuToggle a {
  text-decoration: none;
  border: 0;
}

#menuToggle a:hover {
  color: var(--color-hint)
}

#menuToggle>i {
  position: relative;
  color: var(--color-hint);
  font-size: calc(var(--font-base-size)*2);
z-index: 1;
}

#menuToggle input {
  display: block;
  width: calc(var(--font-base-size)*2);
  height: calc(var(--font-base-size)*2);
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  padding-top: var(--font-base-size);

}


#menu_links {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-back);
  text-align: center;
  top: 0;
  display: none;
  z-index: 0;
}

#menu_links li {
  line-height: calc(var(--font-base-size)*1.4);
  font-size: var(--font-base-size);
  font-family: var(--font-p);
}



i[name~="hint"] {
  color: var(--color-hint);
  margin-right: calc(var(--font-base-size)/2);
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
  margin: auto;
  height: var(--font-base-size);
  align-items: center;
}

.pagination>li>a {
  border: 0;
}

ul > li > a > i{
  font-size: calc(var(--font-base-size)*1.4);
}

.prev_next{
  height: calc(var(--font-base-size)*2);
  font-size: calc(var(--font-base-size)*2);
  width:40%;
  margin:auto;
  text-align: center;
}

.prev_next>a{
border:0;
}

em {
  font-style: italic;
  font-family: var(--font-p)
}

strong {
  font-family: var(--font-base);
  display: inline-block;
}